<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Guide Portal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

   

<nav class="navbar">
    <div class="logo">🎓 Student Guide Portal</div>

    <ul class="nav-links">
        <li><a href="/login">Login</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<section class="hero">

    <div class="overlay">

        <h1>EduFlow Portal</h1>

        <p>Smart University Management System</p>

        <a href="/login" class="btn">Student Login</a>

    </div>

</section>

<section class="welcome">

    <h2>Welcome</h2>

    <p>
        Student Guide Portal helps students manage attendance,
        assignments, results, study materials, fee payments,
        library records, and AI-powered learning in one place.
    </p>

</section>

<section id="contact" class="contact">

    <h2>Contact Us</h2>

    <div class="contact-box">

        <p>📍 Eduflow University, Dehradun</p>

        <p>📧 support@eduflowportal.com</p>

        <p>📞 +91 9876543210</p>

        <p>🌐 www.eduflowportal.com</p>

    </div>

</section>

<footer>

    © 2026 Student Guide Portal | All Rights Reserved

</footer>

</body>